<html>
<head>
    <title>Pareido - image recognizer</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"/>
    <style>
    <!--
    a {
      text-decoration: none;
    }
    -->
    </style>
</head>
<body>
<header>
    <h1>Pareido</h1>
    <p>Image recognition / Object detection</p>
</header>
<main>
<form action="/detect" method="post" enctype="multipart/form-data">
  <p>
  <label>Min confidence (%)</label><br/>
  <input type="text" name="min_confidence" value="50" size="5"/>
  </p>
  <p>
  <label>Min area (%)</label><br/>
  <input type="text" name="min_area" value="1" size="1"/>
  </p>
  <p>
  <label>Model</label><br/>
  {% for model in models %}
    <label><input type="radio" name="model" value="{{model.slug}}"/>{{model.name}}</label> <sup style="font-size: 50%"><a href="{{model.url}}">⇗</a></sup><br/>
  {% endfor %}
  </p>
  <p>
  <label>Select image</label><br/>
  <input type="file" name="image"/>
  </p>
  <p>
  <label>Display as image</label><br/>
  <input type="submit" name="output" value="image"/><br/>
  <label>Embed detections into EXIF</label>
  <input type="checkbox" name="exif" checked/>
  <hr>
  <label>Display as JSON</label><br/>
  <input type="submit" name="output" value="json"/><br/>
  <label>Pretty formatting</label>
  <input type="checkbox" name="pretty" checked/>
  </p>
</form>
</main>
<footer>
  <p>Created by <a href="https://github.com/mludvig/pareido">Michael Ludvig</a>. Powered by <a href="https://modelplace.ai">modelplace.ai</a> models.</p>
</footer>
</body>
</html>
