<html>
<head>
    <title>Pareido - image recognizer</title>
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"/>
    <style>
    <!--
    a {
      text-decoration: none;
    }
    .bold {
      font-weight: bold;
    }
    -->
    </style>
</head>
<body>
<header>
    <h1>Pareido</h1>
    <p>Image recognition / Object detection</p>
</header>
<main>
<form action="/detect" method="post" enctype="multipart/form-data">
  <p>
  <label class="bold">Available models</label><br/>
  {% for model in models %}
    <label><input type="radio" name="model" value="{{model.slug}}"
      {% if loop.index == 1 %}checked{% endif %}/>{{model.name}}</label>
    <sup style="font-size: 60%"><a href="{{model.url}}" title="Model website">Ⓦ</a></sup><br/>
  {% endfor %}
  </p>
  <p>
  <label>Min confidence (%)</label><br/>
  <input type="text" name="min_confidence" value="50" size="5"/>
  </p>
  <p>
  <label>Min area (%)</label><br/>
  <input type="text" name="min_area" value="1" size="1"/>
  </p>
  <p>
  <label class="bold">Select image</label><br/>
  <input type="file" name="image"/>
  </p>
  <p>
  <label class="bold">Display as image</label><br/>
  <input type="submit" name="output" value="image"/><br/>
  <label>
    <input type="checkbox" name="exif" checked/>
    Embed detections into EXIF
  </label>
  <hr>
  <label class="bold">Display as JSON</label><br/>
  <input type="submit" name="output" value="json"/><br/>
  <label>
    <input type="checkbox" name="pretty" checked/>
    Pretty formatting
  </label>
  </p>
</form>
</main>
<footer>
  <p>Created by <a href="https://github.com/mludvig/pareido">Michael Ludvig</a>. Powered by <a href="https://modelplace.ai">modelplace.ai</a> models.</p>
</footer>
</body>
</html>
