<html>
<head>
    <title>Person Detector</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"/>
</head>
<body>
<header>
    <h1>Person Detector</h1>
</header>
<form action="/detect" method="post" enctype="multipart/form-data">
  <p>
  <label>Min confidence (%)</label><br/>
  <input type="text" name="min_confidence" value="50" size="5"/>
  </p>
  <p>
  <label>Min area (%)</label><br/>
  <input type="text" name="min_area" value="1" size="1"/>
  </p>
  <p>
  <label>Select image</label><br/>
  <input type="file" name="image"/>
  </p>
  <p>
  <label>Display as image</label><br/>
  <input type="submit" name="output" value="image"/><br/>
  <label>Embed detections into EXIF</label>
  <input type="checkbox" name="exif" checked/>
  <hr>
  <label>Display as JSON</label><br/>
  <input type="submit" name="output" value="json"/><br/>
  <label>Pretty formatting</label>
  <input type="checkbox" name="pretty_output" checked/>
  </p>
</form>
</body>
</html>
